@import url('https://fonts.googleapis.com/css2? family = Press + Start + 2P & display = swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursiva;
}

html,
body {
  scroll-behavior: smooth;
  image-rendering: pixelated;
}

.fondo-viewport ::-webkit-scrollbar, .fondo-viewport::-webkit-scrollbar {
  width: 18px;
  
}

.fondo-viewport::-webkit-scrollbar-button, .fondo-viewport::-webkit-scrollbar-button {
  background-image: url(./imagenes/scrollbar-button.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.fondo-viewport ::-webkit-scrollbar-track, .fondo-viewport::-webkit-scrollbar-track {
  background-image: url(./imagenes/scrollbar-track.png);
  background-size: 18px 60px;
  background-repeat: repeat-y;
}

.fondo-viewport::-webkit-scrollbar-thumb, .fondo-viewport:-webkit-scrollbar-thumb {
  background-image: url(./imagenes/scrollbar-thumb.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.App,
label {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  background: url(./imagenes/dragon.jpg);
  background-size: 50%;
  cursor: url(./imagenes/mouse.png), auto;
}

.App.dark {
  background: url(./imagenes/nocturno.jpg);
  background-size: 50%;
}

.fondo-viewport {
  display: flex;
  flex-direction: column;
  width: 60%;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-image-source: url(./imagenes/border-image-golden.png);
  border-image-repeat: repeat;
  border-image-slice: 4 4 4 4;
  /* border-image-width: 18px; */
  border-width: 15px;
  padding: 12px;
  background: url(./imagenes/background-image-golden.png) repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
}

.fondo-viewport.dark {
  background: transparent;
}
